{% extends 'pagina_shell/base/base.html' %}

{% load static %}

{% block title %}
    Productos
{% endblock %}

{% block main-header %}
    Los siguientes son productos registrados en <a href="/home">SHELL S.R.L.</a>
{% endblock %}

{% block body %}
    <section>
        <ol>
            {% for producto in productos %}
                {% include 'pagina_shell/includes/lista-productos.html' with nombre=producto.nombre codigo=producto.codigo precio=producto.precio stock=producto.stock%}
            {% endfor %}
        </ol>
    </section>
    <article>
       {% include 'pagina_shell/includes/form-base.html' with clase="producto" form=form %}
    </article>
{% endblock %}
