{% extends 'pagina_shell/base/base.html' %}

{% load static %}

{% block title %}
    Empleados
{% endblock %}

{% block main-header %}
    Los siguientes son los empleados de <a href="/home">SHELL S.R.L.</a>
{% endblock %}

{% block body %}
    <section>
        <ol>
            {% for empleado in empleados %}
                {% include 'pagina_shell/includes/lista-empleados.html' with nombre=empleado.nombre dni=empleado.dni cat=empleado.codigo tel=empleado.telefono%}
            {% endfor %}
        </ol>
    </section>
        <article>
           {% include 'pagina_shell/includes/form-base.html' with clase="empleado" form=form %}
        </article>
{% endblock %}
